<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXHIBITIONS.DETAIL.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="blue-background">
    <div>
      <div id="exhibition-detail">
          <h2>{{exhibition?.name}}</h2>
          <p>{{'EXHIBITIONS.DETAIL.FROM' | translate}} {{exhibition?.date_start}} - {{'EXHIBITIONS.DETAIL.TO' | translate}} {{exhibition?.date_finish}}</p>
          <p id="extended-description">{{exhibition?.extended_description}}</p>
          <button id="enter-museum" ion-button block round outline color="light" (click)="goToMuseum()">{{'EXHIBITIONS.DETAIL.BUTTONS.MUSEUM' | translate}}</button>
      </div>
      <div *ngIf="!exhibition?.unlocked" class="message-container">
          <img class="image" src="https://trello-attachments.s3.amazonaws.com/58e4c7c3c40db2d4f44c74aa/592d2b06ccd804051d2bd314/9126f357c17774b961ed645becdc6a0c/favicon.png">
          <div class="wrapper">
            <h5 class="message">
              {{'BEACONS.ALERT.BLUETOOTH' | translate}}
            </h5>
            <ion-icon class="icon" name="bluetooth"></ion-icon>
          </div>
      </div>
      <!-- <div *ngIf="exhibition?.unlocked" class="item-list">
          <ion-list no-lines *ngIf="hasItems" id="item-list">
            <ion-item class="item" *ngFor="let item of items; let index = index" (click)="goToItemView(index)">
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <h2 class="name">{{item.name}}</h2>
              <div class="author-date">
                <p>{{item.author}}</p>
                <p>{{item.date}}</p>
              </div>
              <button ion-button clear item-end>
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
      </div> -->
      <div *ngIf="exhibition?.unlocked" class="message-container">
        <img class="image" src="https://trello-attachments.s3.amazonaws.com/58e4c7c3c40db2d4f44c74aa/592d2b06ccd804051d2bd314/9126f357c17774b961ed645becdc6a0c/favicon.png">
        <div class="wrapper">
          <h5 class="message">
            {{'BEACONS.ALERT.NAVIGATE' | translate}}
          </h5>
          <ion-icon class="icon" name="bluetooth"></ion-icon>
        </div>
      </div>
    </div>
</ion-content>
