<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXHIBITIONS.DETAIL.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="exhibition-detail">
        <h2>{{exhibition.name}}</h2>
        <p>{{'EXHIBITIONS.DETAIL.FROM' | translate}} {{exhibition.date_start}} - {{'EXHIBITIONS.DETAIL.TO' | translate}} {{exhibition.date_finish}}</p>
        <p id="extended-description">{{exhibition.description}}</p>
        <button id="enter-museum" ion-button (click)="goToMuseum()">{{'EXHIBITIONS.DETAIL.BUTTONS.MUSEUM' | translate}}</button>
    </div>
    <div class="item-list">
        <ion-list *ngIf="hasItems" id="item-list">
            <ion-card class="item" *ngFor="let item of items; let index = index" (click)="goToItemView(item, index)">
                <img src="https://source.unsplash.com/random/300x200"/>
                <div class="item-info">
                    <ion-card-header>
                        {{item.name}}
                    </ion-card-header>
                    <ion-card-content *ngIf="item.author">
                        {{item.author}}
                    </ion-card-content>
                    <ion-card-content *ngIf="item.date">
                        {{item.date}}
                    </ion-card-content>
                </div>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
