page-item-detail {
  .toolbar-title{
    color: map-get($colors, active)
  }

  .toolbar-background {
    color: map-get($colors, active);
    background-color: map-get($colors, light);
    border: none;
  }

  ion-header ion-icon.back-button-icon{
      color: map-get($colors, active);
  }

  ion-header ion-icon {
      color: map-get($colors, active);
  }

  text-align: center;
  h3{
    color: white
  }

  .scrollable{
    width: 90%;
    height: 140px;
    font-size: 1.5em;
    position: fixed;
    bottom: 16px;
    line-height: 2;
    color: white;
  }

  .media-controls{
    width: 100%;
    height: 40px;
    font-size: 3em;
  }

  video{
    max-width: 340px
  }

  .toggle-play{
    color: map-get($colors, light);
    border: 1px solid white;
    border-radius: 100px;
    padding: 40px;
    font-size: 20px;
  }
}
