<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXHIBITIONS.LIST.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="blue-background">
    <ion-list *ngIf="hasExhibitions" id="exhibition-list">
        <ion-card class="exhibition-item" *ngFor="let exhibition of exhibitions">
            <ion-grid>
              <ion-row>
                <ion-col col-5 class="image-col">
                  <img (click)="goToDetail(exhibition)" src={{exhibition.image}}/>
                </ion-col>
                <ion-col col-7 class="info-col">
                  <h2 (click)="goToDetail(exhibition)">
                    {{exhibition.name}}
                  </h2>
                  <span>
                    {{exhibition.general_description}}
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="actions">
                <ion-col col-6>
                  <button ion-button clear color="background" *ngIf="isDownloaded(exhibition)" (click)="delete(exhibition)">
                      <ion-icon name="ios-trash"></ion-icon>
                  </button>
                </ion-col >
                <ion-col col-6 class="right">
                  <button ion-button clear color="background" *ngIf="!isDownloaded(exhibition)" (click)="goToDetail(exhibition)">
                      <ion-icon name="ios-cloud-download"></ion-icon>
                  </button>
                  <button ion-button clear color="background" class="enter-button" *ngIf="isDownloaded(exhibition)" (click)="goToDetail(exhibition)">
                      <ion-icon name="arrow-forward"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                  <button ion-button block color="active" (click)="goToMuseum(exhibition.museum_id)">{{'EXHIBITIONS.BUTTONS.MUSEUM' | translate}}</button>
              </ion-row>
            </ion-grid>
        </ion-card>
    </ion-list>
    <div *ngIf="!hasExhibitions" class="message-container">
        <img class="image" src="https://trello-attachments.s3.amazonaws.com/58e4c7c3c40db2d4f44c74aa/592d2b06ccd804051d2bd314/9126f357c17774b961ed645becdc6a0c/favicon.png">
        <div class="wrapper">
          <h5 class="message">
            {{'EXHIBITIONS.LIST.EMPTY_ALERT' | translate}}
          </h5>
          <ion-icon class="icon" name="list"></ion-icon>
        </div>
    </div>
</ion-content>
