page-exhibition-list {
  .right{
    text-align: right;
  }

  .image-col{
    border-right: 1px solid map-get($colors, background);
  }

  .info-col{
    color: map-get($colors, background);
    h2{
      font-size: 1.5em;
    }
  }

  .actions{
    button{
      ion-icon{
        font-size: 30px
      }
    }
  }
}
