// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.blue-background {
  background-color: map-get($colors, background);
}

.toolbar-title{
  color: map-get($colors, active)
}

.message-container{
  text-align: center;
  .wrapper{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    padding: 5%;
    .message{
      margin-top: 40px;
      color: map-get($colors, active);
      line-height: 2;
    }
    .icon{
      font-size: 30px;
      color: map-get($colors, background);
    }
  }
  .image{
      background-color: white;
      border-radius: 100px;
      width: 80px;
      padding: 5%;
      bottom: -40px;
      position: relative
  }
}
