page-museum-detail {
	#content{
		background-color: map-get($colors, background);
		color: map-get($colors, background);
	}

	h4{
		color: map-get($colors, active);
	}

	ion-icon{
		font-size: 20px;
	}

	.wrapper{
		margin: 10px;
		padding: 20px;
		background: white
	}
}
