<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Museum detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h4>{{museum.name}}</h4>
    <div class="museum-info">
        <p>{{museum.street}}, {{museum.postal}}, <span *ngIf="differentRegionCity">{{museum.city}},</span> {{museum.region}}.</p>
    </div>
    <div class="map-link" *ngIf="hasLocation">
      <ion-icon name="pin"></ion-icon>
      <a showWhen="android" href="{{museum.link}}">Show map</a>
      <a showWhen="ios" href="{{iosMapLink}}">Show map</a>
    </div>
</ion-content>
